/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* Removes all default margin and padding and box-sizing to 
 * include the padding and border that sums up the total
 * element's size.
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #363636;
  color: #f5f5f5;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* This enables font smoothing in some browsers like Firefox and Safari */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  /* Removes the ugly underline in links */
  text-decoration: none;
}

main {
  /* centers elements in all direction w/o flexbox */
  max-width: 1024px;
  padding: 2rem;
  margin: auto;
}

main h1 {
  text-align: center;
  padding-bottom: 1.15rem;
}

main h1::after {
  content: '🦊';
}

h1,
h2 {
  font-family: 'Noto Sans';
}

#backdrop {
  background: linear-gradient(0deg, #363636, #055882);
  display: block;
  height: 400px;
  width: 100%;
  /* set the element to the top of the page */
  position: absolute;
  top: 0;
  /* this puts the backdrop behind of everything else */
  z-index: -2; 
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

yolov4-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 1rem;
  border-radius: 6px;
  padding: 0.95rem;
  background: rgb(42, 42, 42);
  box-shadow: 0 0 16px rgba(255,255,255,0.21);
  position: relative;
  background-clip: padding-box;
  border: 4px solid #0000;
  -webkit-background-clip: padding-box;
}

yolov4-container::before {
  content: '';
  border-radius: inherit;
  position: absolute;
  inset: 0;
  background: linear-gradient(69deg,orchid,royalblue);
  z-index: -1;
  margin: -4px;
}

.nav-button {
  padding: 0.5rem 15%;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  transition: background 250ms ease;
  border-radius: 5px 5px 0 0;
}

.nav-button:first-child:hover {
  background: rgba(232, 128, 229, 0.2);
}

.nav-button:nth-child(2):hover {
  background: rgba(77, 119, 246, 0.2);
}

.nav-button.active {
  font-weight: 700;
}

.nav-button.active:first-child {
  background: rgba(218, 112, 214, 0.4);
}

.nav-button.active:nth-child(2) {
  background: rgba(65, 105, 225, 0.4);
}

form {
  background: rgb(255, 255, 255, 0.2);
  padding: 2ex;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 2px 5px;
}

yolov4-container#results {
  height: auto;
}

yolov4-container#results img {
  border-radius: 9px;
  width: min(450px, 90%);
}