@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

:root {
  --overlay: rgba(255,255,255,0.2);
  --global-bg: #363636;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--global-bg);
  color: #f5f5f5;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

main {
  max-width: 1024px;
  padding: 2rem;
  margin: auto;
}

main h1 {
  text-align: center;
  padding-bottom: 1.15rem;
}

main h1::after {
  content: '🦊';
}

h1,
h2 {
  font-family: 'Noto Sans';
}

#backdrop {
  background: linear-gradient(0deg, var(--global-bg), #055882);
  display: block;
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -2; 
}

a#upload-page-button {
  position: absolute;
  top: 0;
  left: 1.5rem;
  padding: 0.65rem 1rem;
  border-radius: 0 0 8px 8px;
  color: #f5f5f5;
  background: rgb(88, 88, 88);
  transition: all 300ms ease;
  font-weight: 700;
}

a#upload-page-button:hover {
  background: rgb(76, 65, 84);
  text-shadow: 0 0 16px rgba(200,200,200,0.6);
}

fsd-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 1rem;
  border-radius: 6px;
  padding: 0.95rem;
  background: rgb(42, 42, 42);
  box-shadow: 0 0 16px var(--overlay);
  position: relative;
  border: 4px solid #0000;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}

fsd-container::before {
  content: '';
  border-radius: inherit;
  position: absolute;
  inset: 0;
  background: linear-gradient(69deg,orchid,royalblue);
  z-index: -1;
  margin: -4px;
}

form {
  background: var(--overlay);
  padding: 2ex;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 2px 5px;
}

fsd-container#results {
  height: auto;
  padding-top: 2rem;
}

fsd-container#results img {
  border-radius: 9px;
  width: min(450px, 90%);
}

#stats {
  padding: 1rem;
  border-radius: 6px;
  background: var(--overlay);
  font-size: 110%;
}