<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YOLOV4 Fursuit Detector</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <main>
    <fsd-header></fsd-header>
    <fsd-container id="forms">
      <p>Upload any image and see the results for yourself!</p>
        <form action="/" method="post" enctype="multipart/form-data">
          <input type="file" name="image">
          <input type="submit" value="Generate results" name="submit">
        </form>
      </fsd-container>
      <fsd-footer></fsd-footer> 
  </main>
  <script src="static/script.js"></script>
</body>
</html>