<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLOV4 fursuit detector</title>
    <!-- import stylesheet from the static folder -->
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div id="sign-at-top">
        <h1>YOLOV4 fursuit detector</h1>
    </div>

    <div id="form-div">
        <!-- create a form to upload images -->
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="Image">
            <input type="submit" value="Upload Image" name="submit">
    </div>
</body>
</html>